.container_1 {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
  }


  .auto-type {
    color: rgb(65, 65, 192);
  }
  
  .mb-8 p {
    font-weight: 500;
    color: black;
  }

  

.info-top {
    background-color: #EEEE;
    height: auto;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: poppins;
    font-size: smaller;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
  }

  .languageButton {
    height: 30px;
    font-size: 90%;
    display: inline-flex;
    justify-content: flex-end;
  }
#marginSetting {
  margin-left: 20px;
}

  #bar2 {
    background-color: #B6EF4933;
  padding: 5%;
  }
  
  .placeholder {
    border: 1px solid black;
  }
  
  
  