.container_1 {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
  }


  .auto-type {
    color: rgb(65, 65, 192);
  }
  
  .mb-8 p {
    font-weight: 500;
    color: black;
  }

  

.info-top {
    background-color: #EEEE;
    height: auto;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: poppins;
    font-size: smaller;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
  }

  .languageButton {
    height: 30px;
    font-size: 90%;
    display: inline-flex;
    justify-content: flex-end;
    overflow: visible;
    z-index: 10000;
  }
#marginSetting {
  margin-left: 20px;
}

  #bar2 {
  background-color: #B6EF4933;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-around;
  font-family: poppins;
  }
  
  .submitBtn {
    border-radius: 5px;
    color: white;
    background-color: rgb(57, 54, 54);
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
  }
  
  .placeholder {
    border-left: 2px solid black;
    background-color: white;
    color: black;
    padding: 11px;
  }
#dollarsign {
display: inline-block;
padding-left: 20px;
padding-right: 20px; 
}

.btn1 {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}
.btn1:hover {
  background-color: #070707; /* Green */
  color: white;
  transform: scale(1.10);
  transition: transform 0.8s; /* Animation */
  transition: background-color 1.5s; /* Animation */
}
.btn2 {
  background-color: rgb(28, 238, 94);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}
.btn2:hover {
  transform: scale(1.10);
  transition: transform 0.8s; /* Animation */
  transition: background-color 1.5s; /* Animation */
}



.slideshowbtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.flashcards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: poppins;
  font-size: 20px;
  background-color: green;
}
  